@font-face {
  font-family: "GeorgiaRegular";
  src: url("/shelter/assets/fonts/GeorgiaRegular/GeorgiaRegular.eot");
  src: url("/shelter/assets/fonts/GeorgiaRegular/GeorgiaRegular.eot?#iefix")format("embedded-opentype"),
    url("/shelter/assets/fonts/GeorgiaRegular/GeorgiaRegular.woff") format("woff"),
    url("/shelter/assets/fonts/GeorgiaRegular/GeorgiaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ArialRegular";
  src: url("/shelter/assets/fonts/ArialRegular/ArialRegular.eot");
  src: url("/shelter/assets/fonts/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
    url("/shelter/assets/fonts/ArialRegular/ArialRegular.woff") format("woff"),
    url("/shelter/assets/fonts/ArialRegular/ArialRegular.ttf") format("truetype");
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.header-2 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  /* or 57px */
}

.header-3 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
}

.header-4 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
}

.header-5 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
}

.subheading {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* identical to box height, or 24px */
}

.paragraph {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */
}

.button {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
  margin-block-end: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(210, 194, 225); */
  scroll-behavior: smooth;
}

header {
  width: 1280px;
  height: 60px;
  padding: 0px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 30px;
}

.logo {
  height: 100%;
}

.logo h1 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  /* or 35px */
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.logo p {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-block-start: 10px;
  padding-left: 4px;
}

header nav {
  display: flex;
  flex-direction: row;
  column-gap: 36px;
}

header nav li {
  list-style: none;
}

header nav li a {
  text-decoration: none;
}

.own-nav {
  color: #CDCDCD;
}

.selected-nav {
  color: #FAFAFA;
}

.selected {
  border-bottom: solid 3px #F1CDB3;
}


main {
  width: 1280px;
}

.not-only {
  width: 100%;
  background: url("../../assets/png/start-screen-gradient-background.png")
}

.not-only-container {
  width: 100%;
  padding: 180px 40px 0px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* text-align: center; */
}

.not-only-text {
  width: 39%;
  padding-top: 165px;
  display: flex;
  flex-direction: column;
  row-gap: 41px;
}

.not-only-text h2 {
  color: #FFFFFF;
}

.not-only-text p {
  color: #CDCDCD;
}

.not-only-text button {
  width: 207px;
  height: 52px;
  /* width: 45.2%; */
  /* padding: 15px 1px; */
  background: #F1CDB3;
  border-radius: 100px;
  border: #F1CDB3;
  color: #292929;
}

.main-dog {
  width: 698px;
  height: 728px;
  background: url("../../assets/png/start-screen-puppy.png");
}




/* about */
.about {
  width: 100%;
}

.about-container {
  padding: 80px 40px 100px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 120px;
}

.about-pets {
  margin-left: 14.5%;
  width: 300px;
  height: 408px;
  background: url("../../assets/png/about-pets.png");
}

.about-text {
  width: 36%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.about-text h3 {
  color: #545454;
}

.about-text p {
  color: #4C4C4C;
}



/* our-friends */
.our-friends {
  width: 100%;
  background: #F6F6F6;
}

.our-friends-container {
  padding: 80px 40px 100px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 59px;
}

.our-friends-container h3 {
  text-align: center;
  color: #545454;
}

.slider {
  width: 100%;
  position: relative;
}

.slider-inner {
  padding: 0px 105px;
  display: flex;
  flex-direction: row;
  column-gap: 90px;
}

.arrow-left {
  width: 52px;
  height: 52px;
  position: absolute;
  top: 44%;
  left: 0;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrow-left-icon {
  width: 14px;
  height: 6px;
  background: url("../../assets/svg/left.svg");
}

.arrow-right {
  width: 52px;
  height: 52px;
  position: absolute;
  top: 44%;
  right: 0;
  border: 2px solid #F1CDB3;
  background: none;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.arrow-right-icon {
  width: 14px;
  height: 6px;
  background: url("../../assets/svg/right.svg");
}

.card {
  width: 270px;
  height: 435px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card h4 {
  color: #545454;
}

.card-foto {
  width: 270px;
  height: 270px;
  border-radius: 9px 9px 0px 0px;
}

.one {
  background: url("../../assets/png/pets-katrine.png");
}

.two {
  background: url("../../assets/png/pets-jennifer.png");
}

.three {
  background: url("../../assets/png/pets-woody.png");
}

.card button {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: none;
  color: #292929;
}

.rest {
  padding: 15px 45px;
  background: #F1CDB3;
  border-radius: 100px;
  border: #F1CDB3;
  color: #292929;
}




/* help */
.help {
  width: 100%;
}

.help-container {
  padding: 80px 40px 100px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
}

.help-container h3 {
  text-align: center;
  color: #545454;
}

.option {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 120px;
  row-gap: 55px;
}

.option-card {
  min-width: 60px;
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.option-card h4 {
  color: #545454;
}

.option-card-foto {
  width: 100%;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
}

.option-card-1 .option-card-foto {
  background-image: url('../../assets/svg/pet-food.svg');
}

.option-card-2 .option-card-foto {
  background-image: url('../../assets/svg/transportation.svg');
}

.option-card-3 .option-card-foto {
  background-image: url('../../assets/svg/toys.svg');
}

.option-card-4 .option-card-foto {
  background-image: url('../../assets/svg/bowls-and-cups.svg');
}

.option-card-5 .option-card-foto {
  background-image: url('../../assets/svg/shampoos.svg');
}

.option-card-6 .option-card-foto {
  background-image: url('../../assets/svg/vitamins.svg');
}

.option-card-7 .option-card-foto {
  background-image: url('../../assets/svg/medicines.svg');
}

.option-card-8 .option-card-foto {
  background-image: url('../../assets/svg/collars-or-leashes.svg');
}

.option-card-9 .option-card-foto {
  background-image: url('../../assets/svg/sleeping-area.svg');
}





/* in-addition */
.in-addition {
  width: 100%;
  background: #F6F6F6;
}

.in-addition-container {
  padding: 80px 0px 100px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}

.in-addition-foto {
  width: 505px;
  height: 261px;
  background: url("../../assets/png/donation-dog.png");
}

.in-addition-text {
  width: 29.5%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.in-addition-text h3 {
  color: #545454;
}

.bank-text {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 17px */
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.in-addition-text form {
  width: 349px;
  height: 43px;
  padding: 10px 15px;
  background: #F1CDB3;
  border-radius: 9px;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.in-addition-text input {
  width: 100%;
  appearance: none;
  background: none;
  border: none;
}

.in-addition-text input::placeholder {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
  color: #545454;
}

.credit-card {
  width: 35px;
  height: 23px;
  background: url("../../assets/svg/credit-card.svg");
}

.legal-text {
  color: #B2B2B2;
}







footer {
  width: 1280px;
}