@font-face {
  font-family: "GeorgiaRegular";
  src: url("/shelter/assets/fonts/GeorgiaRegular/GeorgiaRegular.eot");
  src: url("/shelter/assets/fonts/GeorgiaRegular/GeorgiaRegular.eot?#iefix")format("embedded-opentype"),
    url("/shelter/assets/fonts/GeorgiaRegular/GeorgiaRegular.woff") format("woff"),
    url("/shelter/assets/fonts/GeorgiaRegular/GeorgiaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ArialRegular";
  src: url("/shelter/assets/fonts/ArialRegular/ArialRegular.eot");
  src: url("/shelter/assets/fonts/ArialRegular/ArialRegular.eot?#iefix")format("embedded-opentype"),
    url("/shelter/assets/fonts/ArialRegular/ArialRegular.woff") format("woff"),
    url("/shelter/assets/fonts/ArialRegular/ArialRegular.ttf") format("truetype");
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.header-2 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  /* or 57px */
}

.header-3 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */
  letter-spacing: 0.06em;
}

.header-4 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
}

.header-5 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */
  letter-spacing: 0.06em;
}

.subheading {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  /* identical to box height, or 24px */
}

.paragraph {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */
}

.button {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  /* identical to box height, or 22px */
  letter-spacing: 0.06em;
  margin-block-end: 0;
}

body {
  /* width: 100vw; */
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(210, 194, 225); */
}

header {
  width: 100%;
  /* height: 60px; */
  padding: 30px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
}

.logo a {
  text-decoration: none;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  /* or 35px */
  letter-spacing: 0.06em;
  color: #545454;
  display: flex;
  flex-direction: column;
  transition: color 0.4s;
}

.logo a:hover {
  color: #FDDCC4;
  transition: color 0.2s;
}

.logo-text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
  margin-block-start: 10px;
  padding-left: 4px;
}

.navigation {
  margin-top: -1px;
  padding-right: 1px;
  display: flex;
  flex-direction: row;
  column-gap: 14px;
}

input {
  width: 0;
  height: 0;
  appearance: none;
}

.navigation a {
  color: #545454;
  /* display: flex;
  flex-direction: column;
  row-gap: 1px; */
  text-decoration: none;
  transition: color 0.4s;
}

.navigation a:hover {
  color: #292929;
  transition: color 0.2s;
}

input:checked+label {
  color: #292929;
  border-bottom: solid 3px #F1CDB3;
  cursor: default;
}

input:checked+label a {
  color: #292929;
  cursor: default;
}

label:active {
  border-bottom: solid 3px #F1CDB3;
}

.label-text {
  color: #545454;
  cursor: pointer;
  transition: color 0.4s;
}

.label-text:hover {
  color: #292929;
  transition: color 0.2s;
}

.burger {
  display: none;
  width: 30px;
  height: 22px;
  background: url("../../assets/svg/burger-black.svg");
  /* position: absolute; */
}




main {
  width: 100%;
}

.our-friends {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F6F6F6;
}

.our-friends-container {
  width: 100%;
  padding: 80px 40px 101px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 44px;
}

.our-friends-container h3 {
  color: #545454;
  text-align: center;
}

.card-container {
  width: 100%;
  padding: 15px 0px;
}

.card-container-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 40px;
  row-gap: 30px;
}

.card {
  width: 270px;
  height: 435px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #FAFAFA;
  border-radius: 9px;
  transition: background-color 0.4s;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #FFFFFF;
  transition: background-color 0.2s;
}

.card button {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: none;
  color: #292929;
  transition: background-color 0.4s;
  cursor: pointer;
}

.card:hover button {
  background-color: #FDDCC4;
  border: none;
  transition: background-color 0.2s;
}

.card h4 {
  color: #545454;
}

.card-foto {
  width: 270px;
  height: 270px;
  border-radius: 9px 9px 0px 0px;
}

.card-1 .card-foto {
  background-image: url('../../assets/png/pets-katrine.png');
}

.card-2 .card-foto {
  background-image: url('../../assets/png/pets-jennifer.png');
}

.card-3 .card-foto {
  background-image: url('../../assets/png/pets-woody.png');
}

.card-4 .card-foto {
  background-image: url('../../assets/png/pets-sophia.png');
}

.card-5 .card-foto {
  background-image: url('../../assets/png/pets-timmy.png');
}

.card-6 .card-foto {
  background-image: url('../../assets/png/pets-charly.png');
}

.card-7 .card-foto {
  background-image: url('../../assets/png/pets-scarlet.png');
}

.card-8 .card-foto {
  background-image: url('../../assets/png/pets-freddie.png');
}

.button-container {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.button-container button {
  cursor: pointer;
  width: 52px;
  height: 52px;
}

.button-container button:disabled {
  border: 2px solid #CDCDCD;
  border-radius: 100px;
  background: none;
  color: #CDCDCD;
}

.number {
  background-color: #F1CDB3;
  border-radius: 100px;
  border: none;
  color: #292929;
  transition: background-color 0.4s;
}

.number:hover {
  background-color: #FDDCC4;
  transition: background-color 0.2s;
}

.number:active {
  background-color: #F1CDB3;
  transition: background-color 0.2s;
}

.dobl-arrow-left,
.arrow-left,
.arrow-right,
.dowl-arrow-right {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: none;
  color: #292929;
  transition: background-color 0.4s;
}

.dobl-arrow-left:hover,
.arrow-left:hover,
.arrow-right:hover,
.dowl-arrow-right:hover {
  border: none;
  background-color: #FDDCC4;
  transition: background-color 0.2s;
}

.dobl-arrow-left:active,
.arrow-left:active,
.arrow-right:active,
.dowl-arrow-right:active {
  border: none;
  background-color: #F1CDB3;
  transition: background-color 0.2s;
}




footer {
  width: 100%;
  background: url("../../assets/png/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  width: 100%;
  height: 100%;
  padding: 40px 40px 0px 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-note {
  width: 62%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question,
.visit {
  height: 80%;
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question {
  width: 39%;
}

.visit {
  width: 41%;
}

.question h3,
.visit h3 {
  color: #FFFFFF;
}

.mail,
.phone,
.boston,
.london {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  text-decoration: none;
  color: #F1CDB3;
  transition: background-color 0.4s;
}

.mail img,
.phone img,
.boston img,
.london img {
  filter: invert(93%) sepia(6%) saturate(2427%) hue-rotate(314deg) brightness(97%) contrast(94%);
  transition: color 0.4s;
}

.mail:hover,
.phone:hover,
.boston:hover,
.london:hover {
  color: #f5e2d5;
  transition: background-color 0.2s;
}

.mail:hover img,
.phone:hover img,
.boston:hover img,
.london:hover img {
  filter: invert(96%) sepia(69%) saturate(463%) hue-rotate(298deg) brightness(103%) contrast(92%);
  transition: color 0.2s;
}

.footer-dog {
  width: 25%;
  height: 100%;
  aspect-ratio: 300/310;
  /* width: 300px;
  height: 310px; */
  background: url("../../assets/png/footer-puppy.png") no-repeat;
  background-size: contain;
}

@media (max-width: 1090px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-note {
    width: 93%;
  }

  .footer-dog {
    width: 62%;
    margin-left: 18%;
  }
}

@media (max-width: 768px) {
  header {
    padding: 30px 29px;
  }

  h1 {
    padding-left: 1px;
  }

  .our-friends-container {
    padding: 80px 40px 77px 40px;
    row-gap: 13px;
  }

  .card-container {
    height: 1365px;
    padding: 15px 54px;
    overflow: hidden;
  }

  .button-container {
    padding-top: 42px;
  }

  .footer-container {
    padding: 15px 40px 0px 40px;
  }

  .question {
    width: 46%;
  }

  .visit {
    width: 47%;
  }
}

@media (max-width: 767px) {
  .navigation {
    display: none;
  }

  .burger {
    display: block;
  }
}

@media (max-width: 520px) {
  header {
    padding: 30px 19px;
  }

  .header-3 {
    font-size: 25px;
  }

  .our-friends-container {
    padding: 42px 10px 43px 10px;
  }

  .card-container {
    padding: 28px 15px;
  }
  .button-container {
    padding-top: 57px;
    column-gap: 10px;
  }

  .footer-container {
    padding: 14px 10px 0px 10px;
    row-gap: 40px;
  }

  .footer-note {
    width: 100%;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
  }

  .question {
    width: 100%;
    align-items: center;
    row-gap: 42px;
  }

  .visit {
    width: 100%;
    align-items: center;
    row-gap: 39px;
  }

  .question h3,
  .visit h3 {
    text-align: center;
  }

  .visit h3 {
    width: 98%;
  }

  .footer-dog {
    width: 87%;
    margin-left: 0%;
  }

  .london {
    align-self: flex-start;
  }

}